*{
    font-family: Arial, Helvetica, sans-serif;

}

nav {
    display: flex;
    gap: 1rem;
}

nav a{
    display: flex;
    text-decoration: none;
    background: lightgray;
    border-radius: 20px;
    border: solid gray;
    padding: 10px;
    color: black;
}

nav a:hover {
    background-color: darkgray;
    transition: 0.1s;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2{
    font-size: 1.4rem;
    font-weight: 600;
}

h3{
    font-size: 1.1rem;
    font-weight: 600;
    color: grey;
}

hr {
    width: 100%;
    border: solid 1px;
}
